menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:auto;
    width:100px;
    padding:0;
    margin:0;
    border:1px #ddd;
    background-color:white;
    font-weight:normal;
    white-space:nowrap;
}
menu:hover{
    background-color:#eef;
    font-weight:bold;
}
menu:hover > menu{
    display:block;
} 
menu > menu{
    display:none;
    position:relative;
    top:-80px;
    left:100%;
    width:55px;
}
/* menu[title]:before{
    content:attr(title);
} */
/* menu:not([title]):before{
    content:"\2630";
} */
#ctxMenu{
    display:none;
    z-index:100;
}
.showMenu {
	display:block;
}
.dropbtn {
    background-color: #5098cc;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-height: 50%;
    border-bottom: solid 1px #ddd;   
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 50%;
    line-height: 1.5;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5098cc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 100px;
	margin-top: -25px;
	left: 0;
    
}

.dropdown-content a {
    color: white !important;
    padding: 1px 0;
    font-size: 15px;    
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #337AB7}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #337AB7;
}