.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.clearable:not(:valid) ~ .close-icon {
	display: none;
}

 tr:hover {
  background-color: lightyellow;
}
.showAction {
	display: none;
}

/* Show edit/delete row when hover row */
/* tr:hover .showAction{
	display: block;
	} */

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
  body{
margin:0px;
padding:0px;
}
fieldset.scheduler-border {
   border: 1px solid #CCC !important;
   padding: 1em 1em 0em 1em !important;
   margin: -40 0 0em 0 !important;
   width: auto;
   -webkit-box-shadow: 0px 0px 0px 0px #000;
   box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
   font-size: 1.2em !important;
   font-weight: bold !important;
   text-align: left !important;
   width: auto;
   padding: 0 10px;
   border-bottom: none;
}
legend.scheduler-border {
   font-size: 1.2em !important;
   font-weight: bold !important;
   text-align: left !important;
   width: auto;
   padding: 0 10px;
   border-bottom: none;
}   .settingStyle {
   border: 1px groove #000099 !important;
   margin: -20 0 0.5em 0 !important;
   width: auto;
   -webkit-box-shadow: 0px 0px 0px 0px #000;
   box-shadow: 0px 0px 0px 0px #000;
   }
   .celltt{
       color: red;
   }
  .pg-normal {
      color: black;
      font-weight: normal;
      text-decoration: none;  
      cursor: pointer;  
  }
  .pg-selected {
      color: black;
      font-weight: bold;      
      text-decoration: underline;
      cursor: pointer;
  }
  .form-control{
  height:28px;
  font-size:11px;
  }
  .tam a{
  color:#333333;
  }
  .tam a:hover{
  color:#1874CD;
  }
  .dropdown-user li a:hover{
  background-color: #caeffb;
  text-decoration:underline;
  }
    html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

.fontsize{
	font-size:1.1em !important;
}
.close:hover{
color:white;
font-weight:bold;
}


::-webkit-input-placeholder {color: #9C9C9C; font-family: sans-serif; } /*Google Chrome */
   ::-moz-placeholder { color: #333333; font-family: sans-serif;} /* Firefox 19+ */
   :-ms-input-placeholder {color:#9C9C9C;font-family: sans-serif; } /* IE */
   input:-moz-placeholder { color:#9C9C9C; font-family: sans-serif;}
  .changepointer th,a {
    cursor: pointer;
  }

  // Styles for Firefox
@-moz-document url-prefix() {
    #inputprofile {
        max-width: 300px;
    }
}

// Styles for IE10
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #inputprofile {
        max-width: 300px;
    }
}