.pp-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
}

.pp-dialog{
	width: 70%;
	margin: 30px auto;
}

.ppalert{
	/* 	position: absolute; */
	position:fixed; 
/* 	top: 5%; */
	z-index: 1001;
/* 	left: 86%; */
	right:0;
	bottom:0;
}


.default-table{
	background-color: #FFFFFF ;
	color: #333333 ;
	cursor: default ;
}

.default-table-border{
	border-color: none;
}

.read-cell{
	background-color: #dae9f6 !important;
	color: #8d8d8d ;
	cursor: default ;
}

.write .row{
	
}

.write-cell{
	background-color: #FFFFFF ;
	color: #2b2b2b ;
	cursor: text;
}

.write-border{
	border-color: #337ab7;
	border-width: 2px;
	border-style: solid;
}

.error-border{
	border-color: #CD5C5C !important;
	border-width: 2px !important;
	border-style: solid !important;
}

.danger-border{
	border-color: #CD5C5C !important;
	border-width: 2px !important;
	border-style: solid !important;
}

.warning-border{
	border-color: #FF9600 !important;
	border-width: 2px !important;
	border-style: solid !important;
}


#datatable {

}

body{
margin:0px;
padding:0px;
}
fieldset.scheduler-border {
    border: 1px solid #CCC !important;
    padding: 1em 1em 0em 1em !important;
    margin: -40 0 0em 0 !important;
    width: auto;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

   .settingStyle {
    border: 1px groove #000099 !important;
    margin: -20 0 0.5em 0 !important;
    width: auto;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    }
    .celltt{
        color: red;
    }
   .pg-normal {
       color: black;
       font-weight: normal;
       text-decoration: none;   
       cursor: pointer;   
   }
   .pg-selected {
       color: black;
       font-weight: bold;       
       text-decoration: underline;
       cursor: pointer;
   }
   .form-control{
   height:28px;
   }
   .tam a{
   color:#333333;
   }
   .tam a:hover{
   color:#1874CD;
   }
   .dropdown-user li a:hover{
   background-color: #CCFFFF;
   text-decoration:underline;
   }


