#search-input {
   background-color: #fff;
   /* width: 230px; */
   height: 40px;
   line-height: 40px;
   border-radius: 4px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   display: block;
   position: relative;
}
#search-input input {
   margin: 0;
   margin-left: 8px;
   width: 100%;
   height:40px;
   margin-right: 33px;
}

#search-input img {
   position: absolute;
   margin: auto;
   top: 0;
   right: 11px;
   bottom: 0;
   transition: all .2s ease-in-out;
   opacity: 0.9;
   width:16px;
   height:16px;
}
#search-input img:hover {
   transform: scale(1.2);
   cursor: pointer;
   opacity: 1;
}